* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    color: white;
    text-align: center;
}

#header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#header > p {
    font-size: 0.95rem;
    margin-bottom: 30px;
}

#cards {
    display: flex;
    gap: 90px;
}

.headerPic1, .headerPic2 {
    background: white;
    border-radius: 8px;
    padding: 24px;
    width: 240px;      
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #333;
}

.headerPic1 input {
    border: none;
    background-color: #f0f0f0;
    padding: 8px 8px;
    font-size: 0.6.5rem;
    outline: none;
    width: 100%;
    border-radius: 0;
}

.headerPic1 input:nth-child(1) {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #ccc;
}

.headerPic1 input:nth-child(2) {
    border-top: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
}

.headerPic1 input:nth-child(3) {
    border-radius: 4px;
    margin-top: 30px;
}

#searchBtn {
    background: #4caf8a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.70rem;
    margin-top: 60px;
}

.headerPic2 {
    align-items: center;
    justify-content: center;
}

.headerPic2 img {
    width: 90px;
    

}

.headerPic2 hr {
    width: 100%;
    border: 1px solid #4caf8a;
    margin-top: 35px;

}

.headerPic2 p {
    font-size: 0.85rem;
    text-align: center;
    margin-top: 30px;
    
}